<h3>welcome </h3>
<p>
<%= link_to "Signup admin",new_user_registration_path %><br>
<%= link_to "Signup user", users_employee_new_path %><br>
<%= link_to "LogIn ",new_user_session_path %><br>
</p>
<div>
  <%#= link_to "Signup user", users_employee_new_path %>
</div>